body {
	font-size: 24px;
	font-family:Arial;
}

.center {
	border-left: 20px solid CornflowerBlue ;
    background-color: AliceBlue   ;
	
}


.svg{
	width: 720px;
	height: 240px;
}


.out_link_button{
	display: block;
	border: 4px solid DodgerBlue;
	border-radius: 5px;
	text-align: center;
	font-size: 48px;
	font-family:Arial;
	margin: 30px;

}

.audio{
	display:table;
	margin:auto;
}

.grid{
	border: 2px solid CornflowerBlue;
}